{% block stylesheets %}
    {% stylesheets 'css/extra.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

<div class="table-responsive wrapper ">
  <table class="table">
  <thead class="thead-new">
    <tr>
      <th class="th-new">Title</th>
      <th class="th-new">Url</th>
      <th class="th-new">Column3</th>
      <th class="th-new">Column4</th>
      <th class="th-new"></th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
    <tr class="tr-new">
      <td class="job-title">{{ job[0] }}</td>
      <td><a href="https://graduateland.com/jobs"{{ job[1] }}>https://graduateland.com/jobs{{ job[1] }}</a></td>
      <td class="static-text">Static text</td>
      <td class="static-text">Static text</td>
      <td><i class="fa fa-cog cog-new" aria-hidden="true"></i></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
