/*
* === BODY ===
*/

.my-body {
  background-color: #EDEDED;
}

.body-container {
  padding-right: 30px;
  padding-left: 140px;
}

footer {
  padding-left: 70px;
}

.path {
  padding-top: 5px;
  padding-left: 140px;
  background: #F5F5F5;
  padding-bottom: 5px;
  border-bottom: 1px solid #c7c8c9;
}

/*
* === NAV ===
*/

#dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 110px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

#dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 111px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.flag {
  max-width: 15px !important;
}

.img-circle {
    border-radius: 50%;
    max-width: 40px !important;
    padding-left: 10px;
}

#message {
  color: #EDEDED;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
    position: absolute;
    padding-top: 25px;
    display: inline-flex;
}

.post-a-job, .post-a-job:visited {
  text-align: center;
  width: 120px;
  font-size: 0.8em;
  background-color: #426686 !important;
  color: white !important;
  margin-top: 15px;
  line-height: 0px !important;
  text-decoration: none;
}

.post-a-job:hover {
  background-color: #64AEEB !important;
  color: white !important;
}

.role {
  display: inline-block;
  font-style: italic;
  font-size: 0.6em;
  float: right;
  padding-left: 5px;
  padding-top: 3px;
  color: #c4c2c2;
}

.top {
  margin-left: 70px;
}

.user-menu {
  font-size: 0.7em;
}


/*
* === TABLE === (alphabetic order)
*/

a {
  color :	#64AEEB;
}

.job-header {
  padding-bottom: 30px;
}

.job-title {
  color: #747474;
}

.static-text {
  color: #B2B2B2
}

.table {
  background-color: white;
}

td {
    padding: 20px 10px 20px !important;
}

.thead-new {
    color: grey;
    font-family: 'Lato-thin';
    font-style: italic;
    font-weight: 100 !important;
    border-bottom: 4px solid #EDEDED;
}

.thead-new th {
  padding: 20px;
}

.tr-new {
  border-bottom: 2px solid #EDEDED;
}

/*
* === TABLE & SIDENAV ===
*/

.cog-new, .sidenav-icon{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #666;
  color: transparent;
}

/*
* === SIDENAV ===
*/

.home {
  background-color: #38424A;
}

.job-container {
  position:relative;
}

.job-badge {
  position: absolute;
  left: 30px;
  background: red;
  font-size: 0.5em;
}

.sidenav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    background: #2C333B;
    overflow-x: hidden;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    min-height: 70px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    background-color: #59D57F;
}

.sidenav-icon{
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.sidenav-text {
  font-size: 0.6em;
  display: inline-block;
  width: 100%;
  text-align: center;
}
