.table .thead-new {
    color: grey;
    font-family: 'Lato-thin';
    font-style: italic;
    font-weight: 100 !important;
    border-bottom: 4px solid #EDEDED;
}

.tr-new {
  border-bottom: 2px solid #EDEDED;
}

.table .th-new {
  padding: 20px 10px 20px 10px;
}

td {
    padding: 20px 10px 20px !important;
}

.job-title {
  color: #747474;
}

.wrapper {
  overflow-x:auto;
}

.static-text {
  color: #B2B2B2
}

.table {
  background-color: white;
}

.cog-new, .sidebar-icon{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #666;
  color: transparent;
}

.my-body {
  background-color: #EDEDED;
}

a {
  color :	#64AEEB;
}


.flag {
  max-width: 15px !important;
}

.post_a_job, .post_a_job:visited {
  text-align: center;
  width: 120px;
  font-size: 0.8em;
  background-color: #426686 !important;
  color: white !important;
  margin-top: 15px;
  line-height: 0px !important;
  text-decoration: none;
}

.post_a_job:hover {
  background-color: #64AEEB !important;
  color: white !important;
}

#message {
  color: #EDEDED;

}

.user_menu {
  font-size: 0.7em;
}

.img-circle {
    border-radius: 50%;
    max-width: 40px !important;
    padding-left: 10px;
}

#dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 110px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

#dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 111px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.navbar-brand {
    position: absolute;
    left: 12%;
    padding-top: 25px;
    display: inline-flex;
}

.role {
  display: inline-block;
  font-style: italic;
  font-size: 0.6em;
  float: right;
  padding-left: 5px;
  padding-top: 3px;
  color: #c4c2c2;
}

.sidenav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    background: #2C333B;
    overflow-x: hidden;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    min-height: 70px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    background-color: #59D57F;
}

.sidebar-text {
  font-size: 0.6em;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.sidebar-icon{
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
  width: 100%;
}

#top {
  margin-left: 70px;
}

.body-container {
  padding-right: 25px;
}

.home {
  background-color: #38424A;
}

.job-badge {
  position: absolute;
  left: 38px;
  top: 75px;
  background: red;
  font-size: 0.5em;
}

footer {
  padding-left: 70px;
}
